<h1>{{.Name}}'s Profile</h1>
<ul>
  <li>Dog: {{.Dog}}</li>
  <li>Age: {{.Age}}</li>
</ul>

<pre>
<p>Float: {{.Float}}</p>
<p>Slice: {{.Slice}}</p>
<p>Map: {{.FavFoods}}</p>
</pre>


<script>{{.Script}}</script>
{{.Script}}